<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{NULL} - About</title>

    <link rel="icon" media="(prefers-color-scheme: dark)" href="fav-dark.ico">
    <link rel="icon" href="favicon.ico">

    <link rel="stylesheet" href="assets/css/settings.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/sections.css">
    <link rel="stylesheet" href="assets/css/team-grid.css">
</head>
<body>
    
    <panel class="">
        <span class="logo">{NULL}</span><input type="checkbox" name="" id="menu">
        <label for="menu" id="menuicon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 6">
            <path d="M 5 5 L 1 1 L 5 1 L 1 5 L 1 4 L 5 4 L 5 3 L 1 3 L 1 2 L 5 2" stroke="#FF0000" stroke-width="0.1" fill="none"/>
        </svg></label>
        
        <a text="Home" href="index.html">Home</a>
        <a href="#">About</a>
        <a href="projects.html">Projects</a>
    </panel>
    
    <br><br><br>
    
    <div id="nojs">
        <H1>Please Enable JavaScript for this website</H1>
    </div>
    
    <section class="dright">
        <div class="wrapper">
            <h1>About us</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt obcaecati quae, quidem quasi, temporibus dicta minima incidunt, quibusdam qui ad ab quod. Quo tempore ea necessitatibus, eaque totam labore cum?</p>
        </div>
    </section>
    <section>
        <div class="wrapper">
            <h1>Our team</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, est obcaecati. Reiciendis sed, laboriosam praesentium cum ducimus provident et iusto suscipit fuga commodi nemo impedit tenetur dolorum rem iste exercitationem!</p>
            <div class="team team-light">
                <div class="user reverse">
                    <div class="icon">
                        <img src="assets/logos/hyscript7.png" alt="">
                    </div>
                    <div class="inside">
                        <H3>HyScript7</H3>
                        
                    </div>
                    <p class="role">
                        Backend <br>
                        Python, NoSQL
                    </p>
                    <a href="https://github.com/HyScript7">Github</a>
                </div>
                <div class="user">
                    <div class="icon">
                        <img src="assets/logos/mobilex.png" alt="">
                    </div>
                    <div class="inside">
                        <H3>Mobilex</H3>
                        <p class="role">
                            Backend <br>
                            PHP, MySQL <br>
                            Frontend - UI/UX <br>
                            Graphics
                        </p>
                        
                    </div>
                    <a href="github.com/mobilex1122">Github</a>
                    
                </div>
                <div class="user">
                    <div class="icon" style="background-color: rgb(255, 255, 255);">
                        <img style="padding: 10px;" src="assets/logos/kristi.png" alt="">
                    </div>
                    <div class="inside">
                        <H3>Kristi</H3>
                        <p class="role">
                            Backend <br>
                            PHP, MySQL <br>
                            Frontend - UI/UX
                        </p>
                    </div>
                    <a href="https://github.com/SomeKristi">Github</a>
                </div>
                <div class="user">
                    <div class="icon">
                        <img src="assets/logos/kaiy.png" alt="">
                    </div>
                    <div class="inside">
                        <H3>Kaiy</H3>
                        <p class="role">
                            Presentation <br>
                            Frontend - UI/UX <br>
                            Design
                        </p>
                    </div>
                    <a href="https://github.com/KaiyWhiteSnow">Github</a>
                </div>
            </div>
        </div>
    </section>
    <section class="dleft">
        <div class="wrapper">
            <h1>Our goal</h1>
            <!-- Might delete in future -->
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed quos enim officia numquam suscipit facilis qui? Ad deleniti quaerat libero dolorum maxime distinctio, neque illum! Consequuntur pariatur inventore deleniti unde.</p>
        </div>
    </section>

    <footer>
        &copy;<code> NULL 2023 | Design by mobilex1122 | <a href="https://github.com/ProjNull" target="_blank">Github</a></code> 
    </footer>
    <script src="assets/js/main.js"></script>
</body>
</html>